* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgb(255, 255, 255);
}
.top__header{
   
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #162818;
    width: auto;
    height: 26px;
    position: relative;
}
.top__header-sale {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
    color: white;
}
.space {
    width: 3px;
    height: 3px;
    min-width: 3px;
    border-radius: 50%;
    background-color: white;
    margin-top: 11px;
}
.center__header {
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    height: 45px;
    color: rgb(0, 0, 0);
    
}
.center__header-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    position: relative;
    width: 90%;
    margin-left: 4%;
    
}
.center__header-li {
    list-style: none;
    color: rgb(24, 23, 23);
    
}
.center__header-li-search {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(246, 246, 246);
}
.fa-magnifying-glass {
    justify-content: start;
    margin-top: 10px;
    margin-left: 10px;
}
.center__header-li {
    font-size: 20px;
    
}
.center__header-li a {
    text-decoration: none;
    color: rgb(24, 23, 23);
}
.center__header-li .center__header-span {
    margin-left: 10px;
}
.bottom__header-menu ul {
    
    height: 50px;
    border-top: 1px solid #d3d7d3;
    text-align: center;
    
}
.bottom__header-menu .bottom__header-li {
    list-style-type: none;
    display: inline-table;
    height: 40px;
    width: 190px;
    line-height: 50px;
}
.bottom__header-menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    position: relative;
    
}
.bottom__header-menu .bottom__header-li>a::after {
    content: "";
    height: 5px;
    width: 0;
    background: #cd2e98;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.3s ease-in-out;
}


.bottom__header-menu a:hover::after {
    width: 100%;
}
.box-submenu .box {
    background: #ffffff;
    list-style: none;
    
}
.bottom__header-menu:hover .box-submenu {
    
    position: relative;
}
.box-submenu {
    display: none;
}
.bottom__header-menu li:hover .box-submenu {
    display: block;
}

.box-submenu ul li a{
    border-bottom: 1px solid #f0f0f0;
}

.bottom__header-li .box-submenu ul li:hover a {
    border-bottom: 1px solid #d77373;
}
/* slider */
#slider {
    margin: auto;
    max-width: 960px;
    position: relative;
    margin-top: 200px; 
} 
#slider .bgr {
    margin-left: 82px;
}
#silder .bgr img {
    width: 100%;
    vertical-align: middle;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
}
.next {
    right: 86px;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 82px;
}
.prev:hover, .next:hover {
    background-color: rgba(175, 227, 195, 0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,.dot:hover {
    background-color: #717171;
}
.bgr {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes bgr {
    from {opacity: .4} 
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
/*  */
.slide {
    margin-top: 172px;
    height: 900px;
    display: flex;
    justify-content: center;
}
.slide-show {
    width: 800px;
    overflow: hidden;
}
.list-img {
    display: flex;
}